body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  text-transform: capitalize;
}

ol, ul {
  padding-left: 0px;
}

.top-container{
    width: 100%;
    margin-top: 40px;
    position: relative;
}

.top-container-row{
    display: flex;
    flex-direction: row;
    min-width: 500px;
    width: 50%;
    margin: 0 auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
}

.board-itself{
  margin-top: 20px;
}

.game-info {
  margin-left: 20px;
}


.restart-btn{
  text-align:  center;
}

.person{
  text-align:  center;
}

.person-state{
  font-size: 20px;
  text-align:  center;
}

img {
    border-radius: 50%;
}
